nav {
  background-color: #001c2e;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  margin-right: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.BK-image {
  width: 50px; 
  height: auto;
  margin-right: 10px; 
}

a:hover {
  color: #83B6F0;
}

@media screen and (max-width: 600px) {
  nav {
    padding: 10px;
  }

  nav ul li a {
    border: red 3px solid;
    font-size: 15px;
  }

  a {
    font-size: 1.2rem;
  }

  .BK-image {
    width: 40px;
    margin-right: 5px;
  }
}
