nav {
  background-color: #001c2e;
  padding: 1.25rem;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  margin-right: 0.625rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.BK-image {
  width: 4rem;
  height: auto;
  margin-right: 0.6rem; 
}

a:hover {
  color: #83B6F0;
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0.6rem;
  }

  nav ul li a {
    border: red 3px solid;
    font-size: 1rem; 
  }

  a {
    font-size: 1.2rem;
  }

  .BK-image {
    width: 2.5rem; 
    margin-right: 0.3rem; 
  }
}
