.github-image {
  width: 4.0625rem;
  height: auto;
  margin-top: 0.625rem;
  padding-right: 1.25rem;
}

@media screen and (max-width: 600px) {
  .github-image {
    width: 3.125rem;
    margin-top: 0.9375rem;
  }
}
