.linkedin-image {
    width: 65px; 
    height: auto;
    margin-top: 20px;
    padding-right: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .linkedin-image {
      width: 50px;
      margin-top: 15px;
    }
  }
  