.work-container {
    max-width: 800px;
    margin-left: auto;
    text-align: right; /* Align text to the right */
    padding: 20px;
  }
  
  .cool-list {
    list-style-type: none;
    padding: 0;
  }
  
  .cool-list-item {
    font-size: 1.2rem;
    color: #001c2e;
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: left; /* Align text to the left within the list item */
  }
  
  .cool-list-item:hover {
    color: #0056b3;
  }
  
  .button-like-shape {
    display: inline-block;
    padding: 10px 15px;
    background-color: #001c2e;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 4px;
  }
  
  @media screen and (max-width: 600px) {
    .work-container {
        padding: 10px;
      }
  
    .work-heading {
      font-size: 1.5rem;
    }
  
    .work-paragraph {
      font-size: 1rem;
    }
  
    .github-image {
      width: 80px;
      margin-top: 15px;
    }
  }
  